@font-face {
	font-family: 'Raleway';
	src: url(../fonts/Raleway.woff) format('woff');
}

body{
	margin:80px 50px;
	background: #eee;

	font-family: Raleway;
	font-size: 30px;
}
hr{
	margin:40px 0;
	border:none;
	border-top: 2px dashed #bbb;
}
a{
	color:#CC2727;
}

#title{
	width:100%;
	margin:0 auto;
	letter-spacing: 1px;
}
#title h1{
	margin: 0;
	text-align: center;
	font-size: 70px;
	letter-spacing: 3px;
}
.text_content{
	width:800px; 
	margin: 0 auto;
	font-size:20px; font-family:sans-serif; font-weight:100;
}
.text_content h1{
	margin: 0;
	font-family: Raleway;
	font-size: 50px;
}
.demo_content{
	width:100%;
	margin: 0 auto;
	text-align:center;
	font-family: Raleway;
	font-size: 30px;
}
.code{
	width: 100%;
	font-family: monospace;
	margin:10px;
	background: #555;
	color:#fff;
	padding: 10px;
	border-radius: 10px;
	font-size: 18px;
}